@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&family=Varela+Round&display=swap');

body{
    background-color:antiquewhite;
}

*{
    margin:0;
    padding:0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    color:white;
    display:flex;
    align-items: center;
    list-style-type:none;
    height: 60px;
    background-color: black;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    padding: 0 8px;
    width:44px;
}

.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
 
    min-height: 68vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin:13px auto;
    width:70%;
    border-radius: 12px;
    padding: 34px;
    padding-bottom: 18px;
    background-image: url("bg.jpg");
    background-size: cover;
}



.bottom{
 position: sticky;
 height: 100px;
 background-color: black;
 color:white;
 bottom:0;
 display:flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;
}
.icons{
    margin-top: 14px;;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width:80vw;
    cursor: pointer;
    
}
.songItemContainer{
   margin-top: 40px;
}

.songItem{
    height:40px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
   
    align-items: center;
    justify-content: space-around;
    border-radius: 34px;
}
.songItem img{
   
 margin:0 23px;
    width: 35px;
    border-radius: 34px;
   
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position:absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity:0;
    transition: opacity 0.4s ease-in;
}


@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }
